body {
    width: 100vw;
    height: 100vh;
    background-color: cornsilk;
}

.book-card {
    background-color: white;
    width: 50%;
    height: auto;
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
}

.book-form {
    display: flex;
    flex-direction: column;
}

